html{
    background-image: url("/public/img/back.png");
    background-repeat: repeat;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #3A2C0B;
}
#body {
    background-color: rgba(63, 130, 68, 0.2);
    margin: 0 auto;
    -webkit-box-shadow: 0 0 4px 2px #4C7751;
    box-shadow: 0 0 4px 2px #4C7751;
    max-width: 1024px;
    min-width: 900px;
    margin-top: 5px;
    webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

}
#header {
    height: 100px;
    background-color: #151421;
    color: #ffffff;
    text-transform: uppercase;
}
#header h1{
    width:50%;
    border-right: 3px dashed #ffffff;
    line-height: 100px;
    padding-left: 20px;
    margin-top: 0;
    display: inline-block;
}
#header .username{
    float: right;
    color: #ffffff;
    margin-right: 50px;
    line-height: 100px;
    font-size: 24px;
    text-transform: initial;
}
#footer {
    position: relative;
    margin-top:-53px;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:#ffffff;
    border-top:3px dashed #ffffff;
    background-color: #151421;

}
#footer .author{
    line-height: 50px;
    margin: 0 auto;
    height: 50px;

}
#footer .author span{
    padding: 0 20px;
    float: right;
}
.footer-margin{
    height: 53px;

}
#container {
    min-height: 100%;
    position: relative;
 }
.main{
    width:600px;
    display: inline-block;
    vertical-align: top;
}
.additional{
    width: 350px;
    height: 500px;
    background-color: #829884;
    display: inline-block;
    vertical-align: top;
    float: right;
    -webkit-box-shadow: -1px 0 3px 1px #17331A;
    box-shadow: -1px 0 3px 1px #17331A;
    overflow-y: auto;
}
.main__canvas{
    -webkit-box-shadow: 1px 0 3px 1px #17331A;
    box-shadow: 1px 0 3px 1px #17331A;
}
.main__show_score{
    vertical-align: top;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
    display: none;
}
input {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px dashed #17331A;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 2px;
    color: #17331A;
}
input#lives{
    width:40px;
}
input#difficult{
    height: 10px;
    margin: 0 10px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0;
}
input:focus {
    outline: none;
}
.input-block{
    vertical-align: top;
    margin-top: 10px;
    text-align: center;
}
.input-block__item{
    margin: 10px;
    color:#17331A;
}
.input-block__item__disable{
    opacity: 0.1;
}
.input-block__start__disable{
    display:none;
}
button {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: Arial;
    color: #17331A;
    font-size: 20px;
    background: #3F8244;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 1px solid #17331A;
    cursor: pointer;
}

button:hover {
    text-decoration: none;
    color:#ffffff;
    border: 1px solid #ffffff;
    outline: none;
}
button:focus{
    outline: none;
}
.additional__score{
    width:100%;
    color: #3A2C0B;
    line-height: 20px;
    text-align: center;
}
.modal{
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal__block
{
    position:absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 500px;
}

@media only screen and (max-width:975px){
    .additional{
        display: none;
    }
    .additional__modal{
        position: absolute;
        display: inline-block;
        max-height: 300px;
    }
    .main{
        width: 100%;
        text-align: center;
        position: relative;
    }
    .main__show_score{
        display: inline-block;
    }
}