<html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="public/js/jquery.min.js"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <h1>Simple Pong Game </h1>
        <span class="username">{% if session.name %}{{ session.name }}{% endif %}</span>
    </div>
    <div id="body">
        {% block content %}{% endblock %}
    </div>
    <div class="footer-margin"></div>
</div>
<div id="footer">
    <div class="author"><span>Demo example. Created by Alexander Petrov</span></div>
</div>
</body>

</html>