{% extends "index.twig" %}
{% block content %}
    {% if not session.name %}
        <div class="modal">
            <div class="modal__block">
                <label for="session_name">Enter your name:</label>
                <input type="text" id="session_name" value="">
                <button onclick="setName()">Enter</button>
            </div>
        </div>
    {% endif %}
    <div class="main">
        <canvas id="pongCanvas" class="main__canvas" width="600" height="500"></canvas>
        <form class="input-block">
	   	   	<span class="input-block__item">
	   	   		<label for="firstPrice">Lives: </label><input id="lives" type="number" value="5" min="1" max="10">
	   	   	</span>
	   	   	<span class="input-block__item">
	   	   		<label for="lastPrice">Difficult</label><input min="1" max="3" default="2" id="difficult" type="range">
	   	   	</span>
	   	   	<button type="button" class="input-block__start">Start</button>
        </form>
        <button onclick="showScore()" class="main__show_score">Score</button>
    </div>
    <div class="additional">
       {% include "main/score.twig" %}
    </div>
    <script src="public/js/main/main.js"></script>
{% endblock %}