<table class="additional__score">
    {% for key, item in score %}
        <tr>
            <td >{{ key + 1 }}</td>
            <td>{% if item.getSession().name %} {{ item.getSession().name }} {% else %} no name {% endif %}</td>
            <td>{{ item.score }}</td>
        </tr>
    {% endfor %}
</table>